.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.Card{
  background-color: rgba(255, 51, 0, 0.664);
  margin: 10px;
  padding: 10px;
  color: aliceblue;
  border: 2px solid blue;
  border-radius: 20px;
}

@media screen and (max-width : 640px) {
  .App{
    grid-template-columns: repeat(2,1fr);
  }
}

